export(AFNIMetaInfo)
export(BinaryReader)
export(BinaryWriter)
export(BrainBucketSource)
export(BrainMetaInfo)
export(BrainSlice)
export(BrainSpace)
export(BrainVector)
export(BrainVectorSource)
export(BrainVolume)
export(BrainVolumeSource)
export(DenseBrainVector)
export(DenseBrainVolume)
export(IndexLookupVolume)
export(Kernel)
export(LogicalBrainVolume)
export(NIfTIMetaInfo)
export(RegionCube)
export(RegionSphere)
export(SparseBrainVector)
export(SparseBrainVectorSource)
export(addDim)
export(as.sparse)
export(axes)
export(bounds)
export(concat)
export(connComp3D)
export(coordToGrid)
export(coordToIndex)
export(coords)
export(dataFile)
export(dataFileMatches)
export(dataReader)
export(dropDim)
export(eachSeries)
export(eachSlice)
export(eachVolume)
export(fileMatches)
export(gridToIndex)
export(headerFile)
export(headerFileMatches)
export(indexToCoord)
export(indexToGrid)
export(indices)
export(inverseTrans)
export(loadBucket)
export(loadData)
export(loadVector)
export(loadVolume)
export(loadVolumeList)
export(lookup)
export(makeVector)
export(makeVolume)
export(map)
export(matchAnatomy2D)
export(matchAnatomy3D)
export(ndim)
export(origin)
export(readElements)
export(readHeader)
export(readMetaInfo)
export(series)
export(seriesIter)
export(space)
export(spacing)
export(splitFill)
export(stripExtension)
export(takeSeries)
export(takeVolume)
export(trans)
export(voxels)
export(writeElements)
export(writeVector)
export(writeVolume)
exportClasses(AFNIMetaInfo)
exportClasses(AxisSet)
exportClasses(AxisSet1D)
exportClasses(AxisSet2D)
exportClasses(AxisSet3D)
exportClasses(AxisSet4D)
exportClasses(AxisSet5D)
exportClasses(BaseSource)
exportClasses(BinaryReader)
exportClasses(BrainBucket)
exportClasses(BrainBucketSource)
exportClasses(BrainData)
exportClasses(BrainFileDescriptor)
exportClasses(BrainMetaInfo)
exportClasses(BrainSlice)
exportClasses(BrainSource)
exportClasses(BrainSpace)
exportClasses(BrainVector)
exportClasses(BrainVectorSource)
exportClasses(BrainVolume)
exportClasses(BrainVolumeSource)
exportClasses(DenseBrainVector)
exportClasses(DenseBrainVolume)
exportClasses(FileMetaInfo)
exportClasses(IndexLookupVolume)
exportClasses(Kernel)
exportClasses(LogicalBrainVolume)
exportClasses(NIfTIFileDescriptor)
exportClasses(NIfTIMetaInfo)
exportClasses(NamedAxis)
exportClasses(ROIVolume)
exportClasses(SparseBrainVector)
exportClasses(SparseBrainVectorSource)
exportMethods("[")
exportMethods(addDim)
exportMethods(as.array)
exportMethods(as.list)
exportMethods(as.logical)
exportMethods(as.matrix)
exportMethods(axes)
exportMethods(bounds)
exportMethods(concat)
exportMethods(connComp)
exportMethods(coordToGrid)
exportMethods(coordToIndex)
exportMethods(coords)
exportMethods(dim)
exportMethods(dropDim)
exportMethods(eachSeries)
exportMethods(eachVolume)
exportMethods(gridToIndex)
exportMethods(indexToCoord)
exportMethods(indexToGrid)
exportMethods(indices)
exportMethods(inverseTrans)
exportMethods(length)
exportMethods(loadData)
exportMethods(lookup)
exportMethods(ndim)
exportMethods(origin)
exportMethods(print)
exportMethods(readElements)
exportMethods(series)
exportMethods(seriesIter)
exportMethods(show)
exportMethods(space)
exportMethods(spacing)
exportMethods(takeVolume)
exportMethods(trans)
exportMethods(voxels)
exportMethods(writeVolume)
