exportClasses(BrainFileDescriptor)
exportClasses(BrainMetaInfo)
exportClasses(NIfTIMetaInfo)
exportClasses(BrainSpace)
exportClasses(BrainData)
exportClasses(BrainList)
exportClasses(BrainVolume, BrainSpace, <-, function(Dim,, origin=NULL,, spacing=NULL,, orientation=NULL,, trans=NULL,, reptime=1))
export(fileMatches)
export(headerFileMatches)
export(dataFileMatches)
export(headerFile)
export(dataFile)
export(stripExtension)
export(readMetaInfo)
