exportClasses(NamedAxis)
exportClasses(AxisSet)
exportClasses(AxisSet1D)
exportClasses(AxisSet2D)
exportClasses(AxisSet3D)
exportClasses(AxisSet4D)
exportClasses(AxisSet5D)
exportClasses(BrainFileDescriptor)
exportClasses(NIfTIFileDescriptor)
exportClasses(BrainMetaInfo)
exportClasses(FileMetaInfo)
exportClasses(NIfTIMetaInfo)
exportClasses(AFNIMetaInfo)
exportClasses(BrainSource)
exportClasses(BrainVolumeSource)
exportClasses(BrainVectorSource)
exportClasses(BrainBucketSource)
exportClasses(BinaryReader)
exportClasses(BrainSpace)
exportClasses(BrainData)
exportClasses(BrainSlice)
exportClasses(BrainVolume)
exportClasses(DenseBrainVolume)
exportClasses(LogicalBrainVolume)
exportClasses(IndexLookupVolume)
exportClasses(BrainVector)
exportClasses(SparseBrainVector)
exportClasses(BrainBucket)
exportMethods(loadData)
exportMethods(ndim)
exportMethods(addDim)
exportMethods(dropDim)
exportMethods(space)
exportMethods(spacing)
exportMethods(bounds)
exportMethods(axes)
exportMethods(origin)
exportMethods(trans)
exportMethods(inverseTrans)
exportMethods(readElements)
exportMethods(writeElements)
exportMethods(writeVolume)
exportMethods(writeVector)
exportMethods(indexToGrid)
exportMethods(gridToIndex)
exportMethods(eachVolume)
exportMethods(takeVolume)
exportMethods(eachSlice)
exportMethods(eachSeries)
exportMethods(takeSeries)
exportMethods(as.sparse)
export(matchAnatomy3D)
export(matchAnatomy2D)
export(BinaryReader)
export(BinaryWriter)
exportMethods(fileMatches)
exportMethods(headerFileMatches)
exportMethods(dataFileMatches)
exportMethods(headerFile)
exportMethods(dataFile)
exportMethods(stripExtension)
exportMethods(readMetaInfo)
exportMethods(dataReader)
export(BrainMetaInfo)
export(NIfTIMetaInfo)
export(AFNIMetaInfo)
export(readHeader)
export(BrainVectorSource)
export(loadVolume)
export(concat)
